.package-item {
	border-radius: 6px;
	padding: 0.5em;
	background-color: #fff0df;
}

.flex-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 0.75em;
}

.flex-column {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 0.1em;
	margin-bottom: 0.5em;
}

.icon-background {
	background-color: white;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	padding: 0.2em;
	display: grid;
	place-items: center;
}

.small-text {
	font-size: 0.75rem;
}

.sender-name {
	margin: 0;
}

.btn {
	margin-top: 1em;
	margin-left: 0 auto;
	width: 100%;
}
