.map-frame {
	border: 0;
	border-radius: 6px;
	flex: 1;
	height: 250px;
}

.flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 0.75em;
}

@media (max-width: 600px) {
	.flex {
		flex-direction: column;
		align-items: flex-start;
	}

	.map-frame {
		width: 100%;
	}
}
