#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 1em;
}

p {
	margin: 0.2em;
}

.error-text {
	color: red;
	background-color: #feeaed;
	padding: 0.5em;
	text-align: center;
}

.modal-overlay {
	position: fixed;
	inset: 0;
	background: rgba(0, 0, 0, 0.4);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 999;
	padding: 0.5em;
	animation: fadeIn 1s forwards;
}

.modal {
	background: white;
	padding: 1rem;
	border-radius: 12px;
	width: 90%;
	max-width: 600px;
	max-height: 90vh;
	overflow-y: auto;
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.close-btn {
	background: none;
	border: none;
	float: right;
	cursor: pointer;

	&:hover {
		background: none;
	}
}

.spinner {
	display: block;
	margin: 0.5em auto;
	animation: spin infinite 10s linear;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
